@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  box-sizing: border-box;
}
#preloader {
  background: rgb(0, 0, 0) url(images/loader.gif) no-repeat center center;
  background-size: 35%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  
}
.home-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  padding: 10px;
  font-size: 40px;
}
.home-button:focus {
  color: orange;
}
body,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #3a86ff 0%, #fb5607 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("cs1.jpeg") no-repeat top center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 65rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}
#demo {
  font-weight: lighter;
}

.title {
  font-size: 1.7rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: black;
  font-family: sans-serif;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

/**
Home Navigation
**/
.navigation {
  background-color: #ee9b00;
  overflow: hidden;
  margin: -20px auto;
  padding-top: 14px;
}

.navigation input[type="text"] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 26px;
  font-size: 17px;
}
.navigation .right {
  float: right;
}
.logo {
  float: left;
  width: 90px;
}
/* Style the links inside the navigation bar */
.navigation a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
  background-color: whitesmoke;
  color: black;
}
#hero-img {
  width: 100%;
  padding-top: 16px;
  margin-top: 2px;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
#hero-msg h1 {
  text-align: center;
  color: black;
}
#hero-msg h4 {
  color: white;
}
.blog1 {
  color: red;
  text-align: center;
  color: black;
  font-family: permanent marker;
  margin-bottom: 70px;
}
.blgtxt {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  text-align: center;
  padding-top: 0px;
}
.blgimg {
  height: 10px;
}

#blgimg {
  width: 900px;
  margin-left: 20px;
}

.blog2 {
  color: red;
  text-align: center;
  color: black;
  font-family: permanent marker;
}
.blgtxt1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 70px;
  text-align: center;
  padding-top: 70px;
}
.blgimg1 {
  height: 10px;
}
#search {
  width: 350px;
}
#blgimg1 {
  width: 900px;
  margin-right: 20px;
}
#ban1-img {
  margin-top: 10px;
  margin-bottom: -6px;
  width: 1680px;
}

.footer {
  background-color: #ee9b00;
  overflow: hidden;
}

.footer input[type="text"] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 26px;
  font-size: 17px;
}
.footer .right {
  float: right;
}
.logo {
  float: left;
  width: 60px;
  height: 54px;
}
/* Style the links inside the navigation bar */
.footer a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.footer a:hover {
  background-color: whitesmoke;
  color: black;
}
.pay {
  padding-top: 0px;
  padding-right: 33px;
  text-align: center;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/* CSS for cards */
.grid-container {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: #ffff;
  padding: 10px;
}

.grid-item {
  background-color: orangered;

  padding: 0px;
  font-size: 40px;
  text-align: center;
 
}

body {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
}
.photocard {
  max-width: 500px;
  color: #64656f;
  margin: 0 auto;
  background-color: #ffff;
}

.photocard header {
  display: grid;
  padding: 0 15px;
  gap: 10px;
  grid-template-columns: 1fr 8fr 4fr 1fr;
  align-items: center;
}

.photocard header img {
  width: 35px;
  border-radius: 100%;
  padding: 10px 0;
}
.photocard .user {
  font-weight: bold;
}
.photocard .time {
  color: #e4e3e7;
  text-align: right;
  font-size: 0.85em;
}
.photocard .menu {
  text-align: right;
}
.photocard a:link,
.photocard a:visited,
.photocard a:hover,
.photocard a:active {
  color: #bfbfbf;
  text-decoration: none;
}

.photocard a:hover {
  color: #64656f;
}
.photocard img {
  width: 100%;
}

.photocard footer {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 5fr;
  grid-template-rows: 40px;
  justify-items: left;
  align-items: center;
  gap: 6px;
  padding: 0 15px;
}
.photocard .love {
  justify-self: end;
  font-weight: bold;
}
.photcard footer i {
  font-size: 0.85em;
}
.button-box {
  text-align: center;
}
.book {
  background-color: orange;
  color: black;
  text-decoration: none;
  font-size: 2em;
  padding: 2px 20px;

  border-radius: 5px;
}
.book:hover {
  background-color: green;
  color: black;
}
