@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Pacifico&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
#content {
    max-width: 1680px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
    font-family: Satisfy;
}

#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
    color: black;
}

#hero-msg h4 {
    color: white;
}

.button-box {
    text-align: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

main section {
    text-align: center;
}

#background {
    height: 752px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img,
.mountains {
    width: 100%;
}


/** Main colors**/

body {
    background-color: white;
    font-family: Comic Neue;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #264653;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #F4A261;
    color: white;
}

.book,
.join {
    background-color: #219ebc;
    color: black;
    text-decoration: none;
    font-size: 2em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: white;
    color: black;
}

#background {
    background-color: white;
}

.msg {
    background-color: #E9C46A;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: white;
}

.home-title {
    color: black;
    font-family: permanent marker;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
    text-align: center;
}

.msg h2 {
    color: black;
    font-family: pacifico;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: orange;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

footer h3 a:hover {
    text-decoration: none;
}

h3 {
    margin: 0;
}
h2{
    background-color: #F4A261;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 250px;
    text-align: center;
    border-radius: 50px;
    
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}

footer {
    margin-top: 200px;
}

.card-img {
    border: 10px solid #F4A261;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}
.intro h2{
    text-align: center;
    margin-left: 60px;
}

footer {
    background-color: #3a3a3ae0;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width: 900px) {
    #hero,
    .home-grid {
        display: block;
        height: auto;
    }
    nav,
    footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

.intro {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.s {
    justify-content: space-around;
    margin-top: 50px;
    margin: 30px;
}

#h {
    text-align: center;
    background-color: black;
    font-family: Arial, elvetica, sans-serif;
    height: max-content;
}

.pillar {
    background-color: #E76F51;
    text-align: center;
    color: white;
    font-family: pacifico;
    font-family: sans-serif;
    margin-top: 10px;
    border-radius: 80px;
}

.pillar p {
    color: black;
    text-align: center;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    width: 60%;
}

.foot {
    background-color: #264653;
    width: auto;
    display: grid;
    grid-template-columns: auto;
}
