@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Satisfy&display=swap');
.img{
    
    
    width:300px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}
.banner
{
    text-align: center;
    background-color: white;
    width: 300px;
    margin:0 auto;
    border-radius: 20px;
}
body{
    
    background-color: black;
}
.txt{
    text-align: center;
    padding-left: 1px;
    padding-bottom: 20px;
    font-family: Fredoka;
    
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3f5b8a;
    color: white;
    border-radius: 0px 0px 20px 20px;

    
}
.h5
{
    color:#3f5b8a;
    margin-bottom:-20px;
}
.p
{
    border-right: 1px solid grey;

    
}